.heading {
  text-align: center;
  padding: auto;
  margin-top: 100px;
}
.temperature {
  font-size: xx-large;
  text-align: center;
  font-weight: 900;
}
.city-day-time {
  text-align: center;
  font-size: xx-large;
}
.date {
  font-size: small;
}
.description {
  text-transform: capitalize;
}
